
.headGallery h3{
    text-align: center;
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 100px;
    height: 100px;
    background-color: rgba(202, 202, 202, 0.8);
}

.gallery {
    padding: 30px;
    margin: auto;
    text-align: center;
    background: #000 linear-gradient(-45deg, #0c0c0c, #393939);

}

.gallery a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.gallery > div {
    display: inline-block;
    width: 212px;
    height: 140px;
    margin: 25px;
    border: 2px solid #ccc;
    cursor: pointer;
    opacity: .65;
    transition: 1s ;
    position: relative;
}

.gallery > div img{
    width: 100%;
    height: 100%;
}

.tab {
    height: 700px;
    display: none;
}

.tab:target {
    display: block;
}



#tab1 {
    background: #fff url(../img/1.jpg) center;
    background-size: cover;
}
#tab2 {
    background: #fff url(../img/2.jpg) center;
    background-size: cover;
}

#tab3 {
    background: #fff url(../img/3.jpg) center no-repeat;
    background-size: cover;
}

#tab4 {
    background: #fff url(../img/4.jpg) center no-repeat;
    background-size: cover;
}
#tab5 {
    background: #fff url(../img/5.jpg) center no-repeat;
    background-size: cover;
}
#tab6 {
    background: #fff url(../img/6.jpg) center no-repeat;
    background-size: cover;
}
#tab7 {
    background: #fff url(../img/7.jpg) center no-repeat;
    background-size: cover;
}

.gallery>div::after {
    content: 'Click';
    position: absolute;
    width: 52px;
    height: 140px;
    background-color: rgba(100,100,100, .9);
    top: 0;
    left: 0;
    line-height: 140px;
    transition: 2s;
    border-radius: 10%;
    opacity: 0;
}

.gallery>div:hover::after {
    left: -50px;
    opacity: 1;

}

.gallery>div:hover {
    transform: scale(1.3);
    border-radius: 0;
    opacity: 1;
}

.photo1 {
    background: #000 url(../img/1.jpg);
    background-size: contain;
}
.photo2 {
    background: #000 url(../img/2.jpg);
    background-size: 600px 400px;
}
.photo3 {
    background-size: contain;
    background: #000 url(../img/3.jpg);
    background-size: contain;
}
.photo4 {
    background-size: contain;
    background: #000 url(../img/4.jpeg);
    background-size: contain;
}
.photo5 {
    background-size: contain;
    background: #000 url(../img/5.jpg);
    background-size: contain;
}
.photo6 {
    background-size: contain;
    background: #000 url(../img/6.jpg);
    background-size: contain;
}
.photo7 {
    background-size: contain;
    background: #000 url(../img/7.jpg);
    background-size: contain;
}










